#main{
margin-top:15px;
}
.input-group{
margin-top:15px;
}
img {
	border-radius: 15px;
	margin-left:20px;
}
.card{
	border-radius: 15px;
	margin-left:20px;
}
.meteo{
padding-top:10px;
padding-left:5px;
}
#left{
margin-left:4px;
padding-bottom:10px;
width:250px; 
border-top-left-radius:25px; 
float:left; 
font-size: 20px;
border:2px ;
background-color:#6600FF;

}
a{
text-decoration: none;
color: #232323;
}
a:hover {
  text-decoration: none;
  
}